* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: fonteGrande;
    src: url(fonts/Crang.ttf);
}

@font-face {
    font-family: fonteMedia;
    src: url(fonts/easvhs.ttf);
}

@font-face {
    font-family: game;
    src: url(fonts/NiseSegaSonic.TTF);
}

@font-face {
    font-family: tetris;
    src: url(fonts/tetri.ttf);
}

@font-face {
    font-family: noticias;
    src: url(fonts/Alien-AI-Italic.ttf);
}

@font-face {
    font-family: pacman;
    src: url(fonts/PAC-FONT.TTF);
}

@font-face {
    font-family: mario;
    src: url(fonts/SuperMario256.ttf);
}

body {
    background-image: url(imagens/back02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

/*-------HEADER-------*/

@keyframes header {
    0% {
        background-image: url(imagens/back3.jpg);
    }

    10% {
        background-image: url(imagens/back4.jpg);
    }

    20% {
        background-image: url(imagens/back7.jpg);
    }

    30% {
        background-image: url(imagens/back6.jpg);
    }

    40% {
        background-image: url(imagens/back5.jpg);
    }

    50% {
        background-image: url(imagens/back3.jpg);
    }

    60% {
        background-image: url(imagens/back7.jpg);
    }

    70% {
        background-image: url(imagens/back6.jpg);
    }

    80% {
        background-image: url(imagens/back4.jpg);
    }

    90% {
        background-image: url(imagens/back3.jpg);
    }

    100% {
        background-image: url(imagens/back5.jpg);
    }
}

header {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    animation-name: header;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

header nav {
    width: 47%;
}

nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 10px;
}

.button-49,
.button-49:after {
    width: 150px;
    height: 60px;
    font-size: 15px;
    font-family: fontemedia;
    background: linear-gradient(45deg, transparent 5%, #a485f8a6 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e1ff;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'PROARCADE';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #f600e2 3%, #f600e2 5%, #a485f8a6 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #ee00f6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}


.logo {
    width: 150px;
    height: 150px;
    margin-left: 100px;
    z-index: 1;
}

h2,
h4 {
    margin-left: 150px;
    color: #fff;
}

h2 {
    font-size: 70px;
    text-shadow: 4px 4px #000000fd;
    font-family: fonteGrande;
    margin-bottom: 10px;
}

h4 {
    font-size: 15px;
    margin-bottom: 400px;
    text-shadow: 2px 2px #000000;
    font-family: fonteGrande;
}

#slogan {
    position: absolute;
    width: 100%;
    height: 200px;
    text-align: start;
    z-index: 5;
    top: 200px;
}

main {
    position: relative;
    width: 100%;
    height: auto;
}

/*-------PRIMEIRA LINHA DE JOGOS-------*/
#coluna_game1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -200px;
}

#texto {
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 280px;
    z-index: 3;
    color: #fff;
}

.texto {
    position: absolute;
    font-size: 15px;
    left: 10px;
    top: 320px;
    z-index: 3;
    color: #fff;
}

#m_jogos {
    position: absolute;
    font-size: 25px;
    left: 10px;
    text-align: center;
    top: 150px;
    z-index: 3;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    cursor: pointer;
}


/*-------SOBRE NOS-------*/
#sobre {
    width: 100%;
    height: 500px;
    text-align: center;
}

#sobre_h1 {
    margin-top: 200px;
    font-size: 50px;
    color: #fff;
    font-family: fonteGrande;
    padding: 50px;
}

#sobre_p {
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
}

#botao {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #fcfcfc;
    font-family: fontemedia;
    background-color: #ffffff17;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;

}

#botao:hover {
    background: #fff;
    color: #000000;
    box-shadow: 0 0 5px #fff,
        0 0 25px #fff,
        0 0 50px #fff,
        0 0 200px #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.333));
}

#botao:nth-child(1) {
    filter: hue-rotate(270deg);
}

#botao:nth-child(2) {
    filter: hue-rotate(110deg);
}

#botao span {
    position: absolute;
    display: block;
}

#botao span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

#botao span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

#botao span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}


#botao span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

#sobre_img {
    position: relative;
    margin-top: 50px;
    width: 700px;
    height: 400px;
    border-radius: 10px;
}

/*-------JOGOS-------*/
#pac {
    position: relative;
    width: 100%;
    height: 520px;
}

#jogo_h1 {
    position: absolute;
    font-size: 50px;
    left: 400px;
    top: 400px;
    color: #fff;
    font-family: fonteGrande;
    padding: 50px;
}

#coluna_game2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

#coluna_game3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#game {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: fontegrande;
}


.card {
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: scale 100ms;
    margin-top: 10px;
}

.card .card-front-image {
    position: relative;
    z-index: 2;
}

.card .card-image {
    width: clamp(300px, 20vw, 500px);
    aspect-ratio: 2 / 3;
    border-radius: clamp(0.5rem, 0.75vw, 2rem);
}

.card-faders {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1500ms;
    pointer-events: none;
}

.card:hover .card-faders {
    opacity: 1;
}

.card:active {
    scale: 0.98;
}

.card-fader {
    position: absolute;
    left: 0px;
    top: 0px;
}

.card-fader:nth-child(odd) {
    animation: fade-left 3s linear infinite;
}

.card-fader:nth-child(even) {
    animation: fade-right 3s linear infinite;
}

.card-fader:is(:nth-child(3), :nth-child(4)) {
    animation-delay: 750ms;
}

.card-fader:is(:nth-child(5), :nth-child(6)) {
    animation-delay: 1500ms;
}

.card-fader:is(:nth-child(7), :nth-child(8)) {
    animation-delay: 2250ms;
}

/*-------NOTICIAS-------*/
#noticias {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 100px;
    margin-bottom: 350px;
}

#not {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px #00000027;
    font-family: fonteGrande;
    padding: 50px;
}

#nots{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

#imagem{
    position: relative;
    width: 100%;
    z-index: -1;
}

.contain{
    position: relative;
    width: 50%;
}
.legenda{
    visibility: hidden;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.legenda a{
    font-size: 20px;
    color: #fff;
    font-family: fontemedia;
    text-decoration: none;
    padding: 50px;
    text-align: center;
}

.contain:hover .legenda{
    visibility: visible;
}

.contain:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 2, 2, 0)), to(rgb(24, 0, 80)));;
}
/*-------FORMULARIO-------*/


main-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: cente;
    min-height: 0vh;
    top: 150px;
}

#form_h1 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px #ffffffab;
    font-family: fonteMedia;
}

main-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: cente;
    min-height: 0vh;
}

@keyframes forms{
    0% {background-color: #61defd59;}
    20% {background-color: #f858fd59;}
    40% {background-color: #ff586f59;}
    60% {background-color: #f7925959;}
    80% {background-color: #fffc5a59;}
    100% {background-color: #5cfd5659;}
}

form {
    width: 35%;
    padding: 25px;
    margin: 50px;
    box-shadow: 0 2px 10px #000000;
    text-align: center;
    border-radius: 50px;
    animation-name: forms;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.fname {
    width: 200px;
}

#email {
    width: 425px;
}

#fnum,
#fassun {
    width: 200px;
}

textarea {
    width: 425px;
}


input::placeholder {
    color: #666;
    font-family: fonteMedia;
}

textarea::placeholder {
    color: #666;
    font-family: fonteMedia;
}

.button-48,
.button-48:after {
    width: 435px;
    height: 60px;
    font-size: 20px;
    font-family: fonteMedia;
    background: linear-gradient(45deg, transparent 5%, #f885d2a6 5%);
    border: 0;
    color: #000000;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #e05ecf;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-48:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'PROARCADE';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #f600e2 3%, #f600e2 5%, #a485f8a6 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #ee00f6;
    clip-path: var(--slice-0);
}

.button-48:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

#contact {
    position: relative;
    width: 40%;
    height: 300px;
    margin: 50px;
    float: right;
}

#contact_h1 {
    margin-top: 80px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: fonteGrande;
    text-shadow: 2px 2px #000;
}

#contact_h3 {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: fonteGrande;
    text-shadow: 2px 2px #000;
}

footer {
    width: 100%;
    color: #fff;
    background-size: cover;
    background-color: #10003b;
    font-size: 20px;
}

#footer_content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 2fr);
    padding: 3rem 3rem;
}


.footer_list {
    display: flex;
    flex-direction: column;
    padding: auto;
    gap: 0.75rem;
    list-style: none;
    margin-left: 20%;

}

.footer_list h3 {
    color: #8a2be2;
    font-family: fontegrande;
}

.footer_list a {
    color: #fff;
    text-decoration: none;
    transition: 0.9s all;
    font-family: fontemedia;
}

.footer_list a:hover {
    color: #8a2be2;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #10003b;
    font-family: fontemedia;
}















































@media(max-width: 1200px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        padding: 4rem;
    }

    .card .card-image {
        width: 400px;
    }
}

@media(max-width: 600px) {
    #cards {
        gap: 2rem;
        padding: 2rem;
    }

    .card {
        width: 80%;
    }

    .card .card-image {
        width: 100%;
    }
}

@keyframes fade-left {
    from {
        scale: 1;
        translate: 0%;
        opacity: 1;
    }

    to {
        scale: 0.8;
        translate: -30%;
        opacity: 0;
    }
}

@keyframes fade-right {
    from {
        scale: 1;
        translate: 0%;
        opacity: 1;
    }

    to {
        scale: 0.8;
        translate: 30%;
        opacity: 0;
    }
}